.chart {
    flex: 3;
    padding: 10px;
    color: gray;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .title {
        margin-bottom: 20px;
    }
    .chatGRid {
        stroke: rgb(228, 225, 225);
    }
}